{% extends 'base.html.twig' %}

{% block title %}Formula 1 Race Data 2024
{% endblock %}

{% block body %}


	<h1>Formula 1 Race Data 2024</h1>
	{# {{ data.MRData.RaceTable.Races.0.raceName }} #}
	{% for data in data.MRData.RaceTable.Races %}
		<div class="card">
			<div class="textContent">
				<h2>
					<a href="{{data.url|e}}" target="_blank">{{data.raceName|e}}</a>
				</h2>
				<p>
					<strong>Circuit:</strong>
					{{data.Circuit.circuitName|e}}
				</p>
				<p>
					<strong>Location:</strong>
					{{data.Circuit.Location.locality|e}},
					{{data.Circuit.Location.country|e}}
				</p>
				<p>
					<strong>Date:</strong>
					{{data.date|e}}
				</p>
			</div>
			<img src="http://source.unsplash.com/random/?f1-{{data.Circuit.circuitName|e|replace({' ': '-'})}}" alt="Photo of {{data.Circuit.circuitName|e}}">
		</div>
	{% endfor %}
{% endblock %}
